@media(max-width:500px) {
  .thongtin{
  
    border-left:none;
  }
  .duan{
    border-right: none;
    border-left:none;
  }
  .lilich{
    border-right: none;
    border-left:none;
  }
  .chungchi{
    border-left:none;
  }
  .needtohide{
    display: none;
  }
  *{
    display: block;
  }
  
  .centered{
    display: none;
  }
  title{
    display: none;
  }
  nav{
    display: block;
  }


}